# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style line endings with a newline ending every file
[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

# 2 spaces indentation for YAML and JSON only
[*.{yaml,yml,json}]
indent_style = space
indent_size = 2

# ! If using VS Code, you should install the EditorConfig for VS Code extension
# ! This file always needs to be in the root folder for the extension to work
